:root {
	--color-green-200: #197302;
	--color-green-600: #36FE04;
  }
  
  body {
	background: #000;
	display: grid;
	height: 100vh;
	min-height: 100dvh;
	place-items: center;
  }
  
  .number {
	color: #f09;
	font-size: 10vw;
	font-weight: bold;
	background-image: linear-gradient(var(--color-green-600), var(--color-green-600)), linear-gradient(var(--color-green-200), var(--color-green-200));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	background-size: 0% 100%, 100% 100%;
	background-repeat: no-repeat, no-repeat;
	animation: fill 20s linear infinite;
  }
  
  @keyframes fill {
	to {
	  background-size: 100% 100%, 100% 100%;
	}
  }