/*body
{
    background-image: url('wp2037797.jpg');
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('wp2037797.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
nav
{
    width: 100%;
    height:15vh;
    background: rgba(0, 0,0,0);
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-transform: uppercase;
}
nav .logo
{
    color: #fde15d;
    width:25%;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav .menu
{
    width: 40%;
    display:flex;
    justify-content: space-around;
}
nav .menu a
{
    width: 25%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav .menu a:first-child{
    color:#ff6a00;
}

nav .menu a:last-child{
    color:#ff6a00;
}
main
{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
section
{

}
section h3
{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}
section h1
{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;

}
section p
{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 6px 6px 6px black;
    /*color: #ffcfe8;*/

}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size:13px;
    font-weight:500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5 ease;
}
section .btnone
{
    background: #fff;
    color:#000;
}
.btnone:hover{
    background: #00b894;
    color:white;
}
.btntwo:hover{
    background: #fad555;
    color:#000;
}
section .btntwo
{
    background: #8ac0dd;
    color:white;
}
.change_content:after
{
    content: '';
    animation: changetext 10s infinite linear;
    color: #3ddee4;
}

@keyframes changetext{
    
    0%{content:"Darjeeling"url( '');}
    20%{content:"Agra"url('');}
    35%{content:"Jaipur"url('');}
    60%{content:"Kerla"url('');}
    80%{content:"Delhi"url('');}
    100%{content:"Mumbai"url('');}
    
}

