body {
    background-color: #eb4747;
  
    -webkit-animation: colorama 20s linear infinite;
  
    animation: colorama 20s linear infinite;
  }
  
  .loader {
    position: absolute;
  
    top: 50%;
  
    left: 50%;
  
    width: 1em;
  
    height: 1em;
  
    transform: translate(-50%, -50%) rotate(0);
  
    color: rgba(255, 255, 255, 0.5);
  
    background-color: currentColor;
  
    border-radius: 50%;
  
    -webkit-animation: rotate 5s linear infinite,
      morph 2.5s linear alternate infinite;
  
    animation: rotate 5s linear infinite, morph 2.5s linear alternate infinite;
  
    box-shadow: 0px 0px, -0.84147px 0.5403px, -1.81859px -0.83229px,
      -0.42336px -2.96998px, 3.02721px -2.61457px, 4.79462px 1.41831px,
      1.67649px 5.76102px, -4.59891px 5.27732px, -7.91487px -1.164px,
      -3.70907px -8.20017px, 5.44021px -8.39072px, 10.99989px 0.04868px,
      6.43888px 10.12625px, -5.46217px 11.79681px, -13.8685px 1.91432px,
      -9.75432px -11.39532px, 4.60645px -15.32255px, 16.34376px -4.67778px,
      13.51777px 11.8857px, -2.84767px 18.78539px, -18.25891px 8.16164px,
      -17.56977px -11.50231px, 0.19473px -21.99914px, 19.46307px -12.25516px,
      21.73388px 10.1803px, 3.30879px 24.78007px, -19.82652px 16.8199px,
      -25.82215px -7.88775px, -7.58536px -26.95296px, 19.24538px -21.69367px,
      29.64095px 4.62754px, 12.52517px 28.35701px, -17.64565px 26.69515px,
      -32.99709px -0.43813px, -17.98881px -28.85139px, 14.98639px -31.62923px,
      35.70404px -4.60669px, 23.81091px 28.32032px, -11.26201px 36.2928px,
      -37.58802px 10.39907px, -29.80453px -26.67752px, 6.50353px -40.48091px,
      38.49391px -16.79938px, 35.76631px 23.86987px, -0.77888px 43.99311px,
      -38.29066px 23.63949px, -41.48226px -19.88019px, -5.80794px -46.63977px,
      36.87622px -30.72693px, 46.73388px 14.72903px, 13.11874px 48.2483px,
      -34.18169px 37.84986px, -51.30463px -8.47552px, -20.98403px -48.66899px,
      30.17461px -44.78273px, 54.98653px 1.21697px, 29.20686px 47.78033px,
      -24.86139px 51.29241px, -57.58661px 6.91245px, -37.56754px -45.49373px,
      18.28864px -57.14478px, 58.93318px -15.7442px, 45.8292px 41.75744px,
      -10.54341px 62.11148px, -58.88167px 25.07886px, -53.74386px -36.5595px,
      1.75238px -65.97673px, 57.31984px -34.69058px, 61.05908px 29.92973px,
      7.92015px 68.54394px, -54.17235px 44.33234px, -67.52488px -21.94061px,
      -18.27528px -69.64204px, 49.40435px -53.74207px, 72.90082px 12.70708px,
      29.08362px 69.13135px, -43.02418px 62.64918px, -76.96305px -2.38508px,
      -40.09032px -66.90864px, 35.0849px -70.7817px, 79.51109px -8.83098px,
      51.02093px 62.91156px, -25.68476px 77.87357px, -80.37425px 20.71183px,
      -61.58799px -57.12197px, 14.96643px -83.67201px, 79.41743px -32.99807px,
      71.49815px 49.56828px, -3.11505px 87.94485px, -76.54618px 45.40576px,
      -80.4597px -40.32663px, -9.64486px -90.48744px, 71.71088px -57.63289px,
      88.19024px 29.52087px, 23.05369px 91.12918px, -64.90986px 69.36649px,
      -94.42442px -17.32132px, -36.82195px -89.73931px, 56.19142px -80.29025px,
      98.92148px 3.94227px, 50.63656px 86.23189px, -45.6546px 90.09249px,
      -101.47233px 10.36174px, -64.16783px -80.56978px, 33.44873px -98.47427px,
      101.9062px -25.3007px, 77.07711px 72.76757px, -19.77165px 105.15742px,
      -100.0964px 40.55504px, -89.02494px -62.89324px, 4.86669px -109.89229px,
      95.96521px -55.78242px, 99.67951px 51.06854px, 10.98156px 112.46513px,
      -89.48776px 70.62535px, -108.72506px -37.46813px, -27.45272px -112.70469px,
      80.69466px -84.71937px, 115.87036px 22.31727px, 44.19709px 110.48809px,
      -69.67334px 97.70172px, -120.85664px -5.8883px, -60.843px -105.74559px,
      56.56813px -109.22018px, 123.46519px -11.50425px, 77.00506px 98.46431px,
      -41.57884px 118.942px, -123.52402px 29.50961px, -92.29283px -88.69067px,
      24.95807px -126.56261px, 120.91377px -47.74787px, 106.32004px 76.53136px,
      -7.00703px 131.81389px, -115.57245px 65.81801px, -118.71393px -62.15307px,
      -11.92977px -134.47186px, 107.49892px -83.30656px, 129.12448px 45.78066px,
      31.47121px 134.36355px, -96.75514px 99.79701px, -137.23355px -27.6939px,
      -51.20716px -131.37285px, 83.46689px -114.87941px, 142.76339px 8.22286px,
      70.70711px 125.44523px, -67.82305px 128.16019px, -145.4845px 12.25808px,
      -89.52947px -116.59105px, 50.07334px -139.27189px, 145.22265px -33.3374px,
      107.23146px 104.88762px, -30.52463px 147.88254px, -141.86472px 54.57473px,
      -123.37929px -90.47956px, 9.53573px -153.70449px, 135.36336px -75.51001px,
      137.5584px 73.57776px, 12.48912px 156.50247px, -125.74021px 95.6734px,
      -149.38364px -54.45667px, -35.10804px -156.10069px, 113.08765px -114.59574px,
      158.50896px 33.45012px, 57.85036px 152.38877px, -97.56898px 131.81918px,
      -164.63655px -10.94559px, -80.2264px -145.32627px, 79.41688px -146.90799px,
      167.52511px -12.62286px, 101.73798px 134.94586px, -58.93041px 159.45911px,
      -166.99704px 36.783px, -121.88937px -121.35477px, 36.47022px -169.11216px,
      162.94438px -61.03383px, 140.19855px 104.73474px, -12.45239px 175.55893px,
      -155.33339px 84.85598px, -156.20841px -85.3401px, -12.65927px -178.55179px,
      144.20747px -107.72281px, 169.4977px 63.49432px, 38.36215px 177.91106px,
      -129.68851px 129.11192px, -179.69153px -39.58479px, -64.12492px -173.53096px,
      111.97645px -148.51692px, 186.47098px 14.05607px, 89.39845px 165.38415px,
      -91.34709px 165.45908px, -189.58186px 12.5983px, -113.62753px -153.52454px,
      68.14816px -179.49882px, 188.84212px -39.84538px, 136.26295px 138.08841px,
      -42.79366px 190.24643px, -184.14789px 67.12343px, -156.77375px -119.29372px,
      15.75656px -197.37206px, 175.47797px -93.85352px, 174.65946px 97.43754px,
      12.43994px 200.61468px, -162.89652px 119.45177px, -189.46187px -72.8917px,
      -41.23255px -199.78958px, 146.55399px -143.342px, 200.77623px 46.09669px,
      70.02914px 194.79456px, -126.68613px 164.96856px, -208.26153px -17.5538px,
      -98.22089px -185.61427px, 103.6111px -183.80898px, 211.64958px -12.18416px,
      125.19514px 172.32288px, -77.72468px 199.38624px, -210.75281px 42.52357px,
      -150.34863px -155.08478px, 49.49371px -211.28032px, 205.47035px -72.84186px,
      173.10083px 134.15328px, -19.44772px 219.13874px, -195.79247px 102.50028px,
      -192.90709px -109.86745px, -11.83093px -222.68594px, 181.8031px -130.85729px,
      209.27135px 82.64686px, 43.7183px 221.73117px, -163.6803px 157.28242px,
      -221.75806px -52.98456px, -75.56138px -216.17465px, 141.69477px -181.17007px,
      230.00305px 21.43824px, 106.6914px 206.012px, -116.20625px 201.95323px,
      -233.72311px 11.38024px, -136.43786px -191.33664px, 87.65797px -219.11659px,
      232.72402px -44.81666px, 164.14291px 172.34008px, -56.56907px 232.20883px,
      -226.90684px 78.18751px, -189.17577px -149.31017px, 23.52528px -240.85382px,
      216.27227px -110.79397px, 210.94686px 122.62717px, 10.83208px 244.76043px,
      -200.92296px 141.93648px, -228.92137px -92.75777px, -45.81853px -243.73072px,
      181.06364px -170.92969px, 242.632px 60.24708px;
  }
  
  @-webkit-keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes rotate {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @-webkit-keyframes morph {
    100% {
      box-shadow: 0px 0px, 0.9093px -0.41615px, -1.5136px -1.30729px,
        -0.83825px 2.88051px, 3.95743px -0.582px, -2.72011px -4.19536px,
        -3.21944px 5.06312px, 6.93425px 0.95716px, -2.30323px -7.66128px,
        -6.75889px 5.94285px, 9.12945px 4.08082px, -0.09736px -10.99957px,
        -10.86694px 5.09015px, 9.91326px 8.40995px, 3.79268px -13.47648px,
        -14.82047px 2.31377px, 8.82283px 13.34757px, 8.99441px -14.42569px,
        -17.85202px -2.30335px, 5.631px 18.1464px, 14.90226px -13.33876px,
        -19.24695px -8.39969px, 0.38944px 21.99655px, 20.74113px -9.94009px,
        -18.43811px -15.36346px, -6.55937px 24.12415px, 25.65232px -4.23776px,
        -15.0873px -22.39137px, -14.60343px 23.89016px, 28.79331px 3.45622px,
        -9.14432px -28.57239px, -22.9146px 20.87872px, 29.44083px 12.53943px,
        -0.87619px -32.98837px, -30.52954px 14.96486px, 27.08617px 22.16617px,
        9.13764px -34.82102px, -36.45041px 6.35354px, 21.51209px 31.32459px,
        20.04516px -33.45432px, -39.75555px -4.41549px, 12.84238px 38.93679px,
        30.79399px -28.56099px, -39.70871px -16.49903px, 1.55753px 43.97242px,
        40.22985px -20.16331px, -35.85544px -28.81644px, -11.52684px 45.56459px,
        47.21221px -8.66066px, -28.09571px -40.14512px, -25.31828px 43.11594px,
        50.73617px 5.18087px, -16.72436px -49.23714px, -38.53855px 36.38379px,
        50.0482px 20.27752px, -2.43335px -54.94614px, -49.83975px 25.53427px,
        44.74388px 35.31267px, 13.72636px -56.35235px, -57.93518px 11.15864px,
        34.83667px 48.85086px, 30.4215px -52.87279px, -61.73259px -5.75212px,
        20.78942px 59.471px, 46.14641px -44.34533px, -60.45689px -23.87394px,
        3.50352px 65.90694px, 59.35696px -31.07653px, -53.74946px -41.65328px,
        -15.73561px 67.18177px, 68.61678px -13.84695px, -41.73345px -57.4397px,
        -35.35355px 62.72261px, 72.74225px 6.12904px, -25.03667px -69.63595px,
        -53.61573px 52.44381px, 70.93236px 27.28737px, -4.76787px -76.85224px,
        -68.7792px 36.78888px, 62.8701px 47.8367px, 17.55402px -78.05035px,
        -79.25448px 16.72506px, 48.78449px 65.90959px, 40.1132px -72.66314px,
        -83.76256px -6.31143px, 29.4652px 79.72955px, 60.94469px -60.67739px,
        -81.47219px -30.51691px, 6.2262px 87.77946px, 78.1042px -42.67005px,
        -72.10374px -53.86141px, -19.18108px 88.95553px, 89.84576px -19.79239px,
        -55.98823px -74.25846px, -44.69922px 82.69208px, 94.79093px 6.29915px,
        -34.07408px -89.74941px, -68.13147px 69.04421px, 92.07395px 33.56171px,
        -7.87828px -98.68603px, -87.32973px 48.71877px, 81.44826px 59.72588px,
        20.61628px -99.89479px, -100.38812px 23.04834px, 63.34306px 82.48428px,
        49.11044px -92.80713px, -105.82479px -6.09208px, 38.86234px 99.69312px,
        75.17432px -77.54239px, -102.73517px -36.42093px, 9.72386px 109.56937px,
        96.45354px -54.93372px, -90.90155px -65.42865px, -21.85915px 110.86558px,
        110.87903px -26.49228px, -70.84738px -90.58503px, -53.3457px 103.006px,
        116.86155px 5.69012px, -43.82899px -109.55829px, -82.07146px 86.17004px,
        113.45342px 39.09376px, -11.76264px -120.42691px, -105.47343px 61.31359px,
        100.46148px 70.96824px, 22.90926px -121.86536px, -121.316px 30.12354px,
        78.49954px 98.55873px, 57.40386px -113.28635px, -127.89863px -5.09322px,
        48.973px 119.34256px, 88.82116px -94.92524px, -124.22621px -41.57942px,
        13.99431px 131.25608px, 114.38719px -67.857px, -110.12589px -76.34323px,
        -23.7662px 132.89156px, 131.69654px -33.94143px, -86.29786px -106.40338px,
        -61.28382px 123.64584px, 138.93343px 4.30134px, -54.29332px -129.04354px,
        -95.42172px 103.80605px, 135.05108px 43.87716px, -16.41851px -142.05433px,
        -123.19263px 74.56256px, 119.89262px 81.55219px, 24.42959px -143.94164px,
        -142.01817px 37.94522px, 94.24067px 114.11703px, 64.98451px -134.08212px,
        -149.96338px -3.31449px, 59.78888px 138.6589px, 101.87143px -112.81051px,
        -145.92554px -45.98626px, 19.03487px 152.81909px, 131.88759px -81.42888px,
        -129.75947px -86.59376px, -24.89909px 155.01302px, 152.2784px -42.13417px,
        -102.32623px -121.69775px, -68.50487px 144.59282px, 160.98587px 2.1327px,
        -65.45857px -148.18629px, -108.16865px 121.93664px, 156.8471px 47.90604px,
        -21.84297px -163.54781px, -140.46992px 88.45452px, 139.72425px 91.46657px,
        25.17436px -166.10313px, -162.47477px 46.5075px, 110.55283px 129.14361px,
        71.84389px -155.17557px, -171.99834px -0.75604px, 71.30125px 157.62339px,
        114.31171px -131.18244px, -167.81324px -49.63582px, 24.84237px 174.23793px,
        148.93748px -95.638px, -149.78473px -96.1693px, -25.25514px 177.20942px,
        172.60483px -51.0644px, -118.91869px -136.45272px, -75.00057px 165.82797px,
        182.99818px -0.81542px, -77.31577px -166.96788px, -120.29901px 140.54589px,
        178.82148px 51.17499px, -28.03261px -184.88692px, -157.28816px 102.97784px,
        159.93869px 100.70062px, 25.14116px -188.32929px, -182.66612px 55.80402px,
        127.42204px 143.6232px, 77.97394px -176.54763px, -193.98282px 2.58154px,
        83.50093px 176.21746px, 126.12895px -150.02496px, -189.86927px -52.52293px,
        31.41318px 195.49223px, 165.51984px -110.47254px,
        -170.18387px -105.05927px, -24.83219px 199.46018px, 192.65621px -60.7255px,
        -136.06106px -150.6532px, -80.76308px 187.33212px, 204.94967px -4.54216px,
        -89.85553px -185.36986px, -131.79996px 159.61758px, 200.95411px 53.67908px,
        -34.98355px -206.05133px, -173.63046px 118.12054px,
        180.51801px 109.24399px, 24.32803px -210.59949px, -202.57266px 65.82795px,
        144.83395px 157.54088px, 83.36708px -198.17904px, -215.89615px 6.69711px,
        96.37831px 194.42279px, 137.31048px -169.32168px, -212.07346px -54.64289px,
        38.74316px 216.56169px, 181.61795px -125.9203px, -190.93882px -113.25355px,
        -23.62853px 221.74466px, 212.41306px -71.11043px,
        -153.73884px -164.28442px, -85.78505px 209.08593px, 226.81968px -9.04618px,
        -103.06801px -203.374px, -142.659px 179.13517px, 223.22479px 55.41385px,
        -42.69143px -227.0208px, -189.48025px 133.87022px, 201.44402px 117.08675px,
        22.73355px -232.89308px, -222.175px 76.572px, 162.77387px 170.88203px,
        88.01614px -220.05036px, -237.71767px 11.5891px, 109.92333px 212.22126px,
        147.84401px -189.05594px, -234.40553px -55.99148px, 46.82772px 237.42612px,
        197.21534px -141.96869px, -212.03128px -120.74243px,
        -21.64297px 244.04217px, 231.85608px -82.21167px,
        -171.93714px -177.33195px, -90.05953px 231.06986px,
        248.58756px -14.32562px, -116.94295px -220.96232px;
    }
  }
  
  @keyframes morph {
    100% {
      box-shadow: 0px 0px, 0.9093px -0.41615px, -1.5136px -1.30729px,
        -0.83825px 2.88051px, 3.95743px -0.582px, -2.72011px -4.19536px,
        -3.21944px 5.06312px, 6.93425px 0.95716px, -2.30323px -7.66128px,
        -6.75889px 5.94285px, 9.12945px 4.08082px, -0.09736px -10.99957px,
        -10.86694px 5.09015px, 9.91326px 8.40995px, 3.79268px -13.47648px,
        -14.82047px 2.31377px, 8.82283px 13.34757px, 8.99441px -14.42569px,
        -17.85202px -2.30335px, 5.631px 18.1464px, 14.90226px -13.33876px,
        -19.24695px -8.39969px, 0.38944px 21.99655px, 20.74113px -9.94009px,
        -18.43811px -15.36346px, -6.55937px 24.12415px, 25.65232px -4.23776px,
        -15.0873px -22.39137px, -14.60343px 23.89016px, 28.79331px 3.45622px,
        -9.14432px -28.57239px, -22.9146px 20.87872px, 29.44083px 12.53943px,
        -0.87619px -32.98837px, -30.52954px 14.96486px, 27.08617px 22.16617px,
        9.13764px -34.82102px, -36.45041px 6.35354px, 21.51209px 31.32459px,
        20.04516px -33.45432px, -39.75555px -4.41549px, 12.84238px 38.93679px,
        30.79399px -28.56099px, -39.70871px -16.49903px, 1.55753px 43.97242px,
        40.22985px -20.16331px, -35.85544px -28.81644px, -11.52684px 45.56459px,
        47.21221px -8.66066px, -28.09571px -40.14512px, -25.31828px 43.11594px,
        50.73617px 5.18087px, -16.72436px -49.23714px, -38.53855px 36.38379px,
        50.0482px 20.27752px, -2.43335px -54.94614px, -49.83975px 25.53427px,
        44.74388px 35.31267px, 13.72636px -56.35235px, -57.93518px 11.15864px,
        34.83667px 48.85086px, 30.4215px -52.87279px, -61.73259px -5.75212px,
        20.78942px 59.471px, 46.14641px -44.34533px, -60.45689px -23.87394px,
        3.50352px 65.90694px, 59.35696px -31.07653px, -53.74946px -41.65328px,
        -15.73561px 67.18177px, 68.61678px -13.84695px, -41.73345px -57.4397px,
        -35.35355px 62.72261px, 72.74225px 6.12904px, -25.03667px -69.63595px,
        -53.61573px 52.44381px, 70.93236px 27.28737px, -4.76787px -76.85224px,
        -68.7792px 36.78888px, 62.8701px 47.8367px, 17.55402px -78.05035px,
        -79.25448px 16.72506px, 48.78449px 65.90959px, 40.1132px -72.66314px,
        -83.76256px -6.31143px, 29.4652px 79.72955px, 60.94469px -60.67739px,
        -81.47219px -30.51691px, 6.2262px 87.77946px, 78.1042px -42.67005px,
        -72.10374px -53.86141px, -19.18108px 88.95553px, 89.84576px -19.79239px,
        -55.98823px -74.25846px, -44.69922px 82.69208px, 94.79093px 6.29915px,
        -34.07408px -89.74941px, -68.13147px 69.04421px, 92.07395px 33.56171px,
        -7.87828px -98.68603px, -87.32973px 48.71877px, 81.44826px 59.72588px,
        20.61628px -99.89479px, -100.38812px 23.04834px, 63.34306px 82.48428px,
        49.11044px -92.80713px, -105.82479px -6.09208px, 38.86234px 99.69312px,
        75.17432px -77.54239px, -102.73517px -36.42093px, 9.72386px 109.56937px,
        96.45354px -54.93372px, -90.90155px -65.42865px, -21.85915px 110.86558px,
        110.87903px -26.49228px, -70.84738px -90.58503px, -53.3457px 103.006px,
        116.86155px 5.69012px, -43.82899px -109.55829px, -82.07146px 86.17004px,
        113.45342px 39.09376px, -11.76264px -120.42691px, -105.47343px 61.31359px,
        100.46148px 70.96824px, 22.90926px -121.86536px, -121.316px 30.12354px,
        78.49954px 98.55873px, 57.40386px -113.28635px, -127.89863px -5.09322px,
        48.973px 119.34256px, 88.82116px -94.92524px, -124.22621px -41.57942px,
        13.99431px 131.25608px, 114.38719px -67.857px, -110.12589px -76.34323px,
        -23.7662px 132.89156px, 131.69654px -33.94143px, -86.29786px -106.40338px,
        -61.28382px 123.64584px, 138.93343px 4.30134px, -54.29332px -129.04354px,
        -95.42172px 103.80605px, 135.05108px 43.87716px, -16.41851px -142.05433px,
        -123.19263px 74.56256px, 119.89262px 81.55219px, 24.42959px -143.94164px,
        -142.01817px 37.94522px, 94.24067px 114.11703px, 64.98451px -134.08212px,
        -149.96338px -3.31449px, 59.78888px 138.6589px, 101.87143px -112.81051px,
        -145.92554px -45.98626px, 19.03487px 152.81909px, 131.88759px -81.42888px,
        -129.75947px -86.59376px, -24.89909px 155.01302px, 152.2784px -42.13417px,
        -102.32623px -121.69775px, -68.50487px 144.59282px, 160.98587px 2.1327px,
        -65.45857px -148.18629px, -108.16865px 121.93664px, 156.8471px 47.90604px,
        -21.84297px -163.54781px, -140.46992px 88.45452px, 139.72425px 91.46657px,
        25.17436px -166.10313px, -162.47477px 46.5075px, 110.55283px 129.14361px,
        71.84389px -155.17557px, -171.99834px -0.75604px, 71.30125px 157.62339px,
        114.31171px -131.18244px, -167.81324px -49.63582px, 24.84237px 174.23793px,
        148.93748px -95.638px, -149.78473px -96.1693px, -25.25514px 177.20942px,
        172.60483px -51.0644px, -118.91869px -136.45272px, -75.00057px 165.82797px,
        182.99818px -0.81542px, -77.31577px -166.96788px, -120.29901px 140.54589px,
        178.82148px 51.17499px, -28.03261px -184.88692px, -157.28816px 102.97784px,
        159.93869px 100.70062px, 25.14116px -188.32929px, -182.66612px 55.80402px,
        127.42204px 143.6232px, 77.97394px -176.54763px, -193.98282px 2.58154px,
        83.50093px 176.21746px, 126.12895px -150.02496px, -189.86927px -52.52293px,
        31.41318px 195.49223px, 165.51984px -110.47254px,
        -170.18387px -105.05927px, -24.83219px 199.46018px, 192.65621px -60.7255px,
        -136.06106px -150.6532px, -80.76308px 187.33212px, 204.94967px -4.54216px,
        -89.85553px -185.36986px, -131.79996px 159.61758px, 200.95411px 53.67908px,
        -34.98355px -206.05133px, -173.63046px 118.12054px,
        180.51801px 109.24399px, 24.32803px -210.59949px, -202.57266px 65.82795px,
        144.83395px 157.54088px, 83.36708px -198.17904px, -215.89615px 6.69711px,
        96.37831px 194.42279px, 137.31048px -169.32168px, -212.07346px -54.64289px,
        38.74316px 216.56169px, 181.61795px -125.9203px, -190.93882px -113.25355px,
        -23.62853px 221.74466px, 212.41306px -71.11043px,
        -153.73884px -164.28442px, -85.78505px 209.08593px, 226.81968px -9.04618px,
        -103.06801px -203.374px, -142.659px 179.13517px, 223.22479px 55.41385px,
        -42.69143px -227.0208px, -189.48025px 133.87022px, 201.44402px 117.08675px,
        22.73355px -232.89308px, -222.175px 76.572px, 162.77387px 170.88203px,
        88.01614px -220.05036px, -237.71767px 11.5891px, 109.92333px 212.22126px,
        147.84401px -189.05594px, -234.40553px -55.99148px, 46.82772px 237.42612px,
        197.21534px -141.96869px, -212.03128px -120.74243px,
        -21.64297px 244.04217px, 231.85608px -82.21167px,
        -171.93714px -177.33195px, -90.05953px 231.06986px,
        248.58756px -14.32562px, -116.94295px -220.96232px;
    }
  }
  
  @-webkit-keyframes colorama {
    0% {
      background-color: #f5a3a3;
    }
  
    25% {
      background-color: #f5e0a3;
    }
  
    50% {
      background-color: #a3f5f5;
    }
  
    75% {
      background-color: #a3b8f5;
    }
  
    100% {
      background-color: #f5a3a3;
    }
  }
  
  @keyframes colorama {
    0% {
      background-color: #f5a3a3;
    }
  
    25% {
      background-color: #f5e0a3;
    }
  
    50% {
      background-color: #a3f5f5;
    }
  
    75% {
      background-color: #a3b8f5;
    }
  
    100% {
      background-color: #f5a3a3;
    }
  }
  