@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 100vh;
}

nav {
  margin-right: 10px;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
  margin: 5px 10px;
}

#gapps {
  padding: 10px;
}

#gapps:hover {
  background-color: rgba(170, 169, 169, 0.137);
  border-radius: 80%;
  cursor: pointer;
}

.links {
  color: black;
}

.links:hover {
  text-decoration: underline;
}

.button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 26px;
  border-radius: 5px;
}

.button:hover {
  background-color: #2168c5;
  text-decoration: none;
}

span {
  color: red;
}

.lang {
  padding: 0 4px;
}

p {
  font-size: 16px;
  margin: 10px;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.google {
  width: 10px;
}

input {
  margin: 40px;
}

input[type="text"] {
  width: 80%;
  line-height: 48px;
  border-radius: 30px;
  padding: 0 40px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

input[type="text"]:hover {
  box-shadow: 1px 1px 1 px;
}

/* input [placeholder="&#128269;"] {
  padding-left: 10px;
  size: 10px;
} */

.button2 {
  margin: 0px 30px;
  padding: 10px 20px;
}

.bts {
  margin: 0px 20px;
  padding: 10px 20px;
  background-color: rgba(207, 207, 207, 0.205);
  border-radius: 5px;
  color: black;
}

.bts:hover {
  border: 1px rgba(146, 142, 142, 0.274) solid;
  text-decoration: none;
}

.p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  font-size: 15px;
}

.p2 {
  margin-top: 30px;
  font-size: 15px;
}

footer {
  width: 100%;
  background-color: #f2f2f2;
  font-size: 14px;
  color: grey;
  margin-top: -10px;
}

hr {
  opacity: 0.1;
  height: 1px 0 0 0;
}

.f1 {
  padding: 3px;
  margin-left: 15px;
}

.secondfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.secondfooter a {
  color: rgb(119, 117, 117);
  padding: 0px 15px;
}
